{% extends "app/layout.html" %}

{% block content %}




<img src="https://media-exp1.licdn.com/dms/image/C4E03AQGv6ZlRETlbLw/profile-displayphoto-shrink_200_200/0/1517583594142?e=1625097600&v=beta&t=4jXQajbxUm7pnN8ioDtNxrT9C7tlVBh5bx1wzyHOGwc" alt="HTML5 Icon" style="width:128px;height:128px;">

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<h2><b>Personal data</b></h2>
<hr class="new4">

<div class="main1">
<div class="main2">
    <b>Gender:</b> Masculine <br>    
    <b>Marital status:</b> Single<br>
    <b>Birth date:</b> 01/11/1994<br>
    <b>Cell phone:</b> (41) 99742-2860<br>
</div>
<div class="main2">
    <b>License:</b> B <br>
    <b>City:</b> Curitiba <br>
    <b>CEP:</b> 81150-313 <br>
</div>
</div>


<h2><b>Claim</b></h2>
<hr class="new4">

<div class="main1">
<div class="main2">
    <b>Intended Functions:</b> Web Developer <br>    
</div>
<div class="main2">
    <b>Salary:</b> R$2.500,00 <br>
</div>
</div>


<h2><b>Education</b></h2>
<hr class="new4">

<div class="main1">
<div class="wall50">
    <b>Level:</b> Higher Education - Computer Science <br> UTP - UNIVERSIDADE TUIUTI DO PARANA - 2020 <br>    
    <b>Languages:</b> English - Advanced<br>
</div>
<div class="wall50">
    <b>Other courses:</b><br>
    Process Mining: Data science in Action - Coursera - 2020 <br>
    Computer Forensic Techniques - 4linux - 2020 <br>
    Python & MySQL - Udemy - 2020  <br>
    Scrum Master Certification: Preparatory Course - Udemy - 2020 <br>
    SUPER ACADEMY BI - 15 courses in 1 - all in one place - Udemy - 2020 <br>
    Python: Digital Forensics & Binary Exploits with Python - Udemy - 2020 <br>
    Fundamentals of Ethical Hacking: practical course - Udemy - 2017<br>

</div>
</div>


<h2><b>Professional experience</b></h2>
<hr class="new4">

<div class="main1">
<div class="wall50">
    <i>Compagas - from 06/05/2012 to 06/06/2014 (2 years) </i><br />

    <b>Exercised Function:</b> IT Technical Support <br>    
    <b>Last salary:</b> 1.400<br>
</div>
<div class="wall50">
    <b>Assignments:</b> Provide user support by installing and maintaining software and hardware. Control and monitor the computer network's operating environment. <br>
    Receive and transmit data. Perform physical deployment of computer network projects. <br />
    Provide technical assistance in the installation and use of computer equipment.<br>

</div>
</div>

<h2><b>Skills</b></h2>
<hr class="new4">

<ul>
  <li>C/C++ and C# (.dotnet);</li>
  <li>Python;</li>
  <li>SQL Server;</li>
  <li>Artificial Inteligence;</li>
  <li>Bash and PowerShell.</li>
</ul>

{% endblock %}
